<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0A</string>
	<string>0As</string>
	<string>0B</string>
	<string>1C</string>
	<string>1Cs</string>
	<string>1D</string>
	<string>1Ds</string>
	<string>1E</string>
	<string>1F</string>
	<string>1Fs</string>
	<string>1G</string>
	<string>1Gs</string>
	<string>2A</string>
	<string>2As</string>
	<string>2B</string>
	<string>2C</string>
	<string>2Cs</string>
	<string>2D</string>
	<string>2Ds</string>
	<string>2E</string>
	<string>2F</string>
	<string>2Fs</string>
	<string>2G</string>
	<string>2Gs</string>
	<string>3A</string>
	<string>3As</string>
	<string>3B</string>
	<string>3C</string>
	<string>3Cs</string>
	<string>3D</string>
	<string>3Ds</string>
	<string>3E</string>
	<string>3F</string>
	<string>3Fs</string>
	<string>3G</string>
	<string>3Gs</string>
	<string>4A</string>
	<string>4As</string>
	<string>4B</string>
	<string>4C</string>
	<string>4Cs</string>
	<string>4D</string>
	<string>4Ds</string>
	<string>4E</string>
	<string>4F</string>
	<string>4Fs</string>
	<string>4G</string>
	<string>4Gs</string>
	<string>5A</string>
	<string>5As</string>
	<string>5B</string>
	<string>5C</string>
	<string>5Cs</string>
	<string>5D</string>
	<string>5Ds</string>
	<string>5E</string>
	<string>5F</string>
	<string>5Fs</string>
	<string>5G</string>
	<string>5Gs</string>
	<string>6A</string>
	<string>6As</string>
	<string>6B</string>
	<string>6C</string>
	<string>6Cs</string>
	<string>6D</string>
	<string>6Ds</string>
	<string>6E</string>
	<string>6F</string>
	<string>6Fs</string>
	<string>6G</string>
	<string>6Gs</string>
	<string>7A</string>
	<string>7As</string>
	<string>7B</string>
	<string>7C</string>
	<string>7Cs</string>
	<string>7D</string>
	<string>7Ds</string>
	<string>7E</string>
	<string>7F</string>
	<string>7Fs</string>
	<string>7G</string>
	<string>7Gs</string>
	<string>8A</string>
	<string>8As</string>
	<string>8B</string>
	<string>8C</string>
</array>
</plist>
